.App {
    text-align: center;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-body {
    background-color: gainsboro;
    color: #282c34;
    min-height: 25vh;
    min-width: 10vh;
    align-items: left;
    justify-content: left;
}

.App-button {
    color: #282c34;
}