* {
	box-sizing: border-box;
}

html,
body {
	overscroll-behavior-y: contain;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	user-select: none;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	position: fixed;
	overflow: hidden;
}

#root {
	background: rgb(255, 0, 0);
	background: linear-gradient(90deg, rgba(255, 0, 0, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(69, 123, 252, 1) 100%);
	position: fixed;
	overflow: scroll;
	width: 100%;
	height: 100%;
}
.card-table {
	font-size: 11px;
}
.card-wrapper {
	position: absolute;
	width: 100vw;
	height: 90vh;
	will-change: transform;
	display: flex;
	align-items: center;
	justify-content: center;
}

.inner-card-wrapper {
	padding: 5px;
	background-color: white;
	background-size: auto 85%;
	background-repeat: no-repeat;
	background-position: center center;
	width: 300px;
	max-width: 300px;
	height: 600px;
	max-height: 600px;
	will-change: transform;
	border-radius: 10px;
}

.view-matches {
	z-index: 0;
}

img {
	margin: 0 auto;
	height: 200px;
	display: block;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;

	user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

button[aria-label="previous"],
button[aria-label="next"] {
	background: salmon !important;
	color: black !important;
}

h2 {
	display: inline-block;
	margin-right: 10px;
}

h2:nth-of-type(2) {
	opacity: 0.7;
	font-size: 1.35rem;
}

h5:last-of-type {
	color: black;
}

.candidate-card > div {
	height: 200px !important;
}

img.blur {
	filter: blur(18px) opacity(40%);
}

div.candidate-image {
	overflow: hidden;
	display: inline-block;
	margin: auto;
}

div.candidate-image-wrapper {
	text-align: center;
}

.candidate-card {
	height: 500px !important;
}

.slider-control-bottomcenter {
	bottom: -15px !important;
}

.slider-control-bottomcenter > ul > li > button {
	color: salmon !important;
}

.candidate-card a {
	display: block;
	text-align: center;
	padding-top: calc(83%);
}

.key-issues {
	padding: 0 10px;
	font-size: 14px;
}
