.card {
	margin: 50px;
}

.card-body {
	padding: 20px;
}

.header {
	font-size: 40px;
}

.candidate-icon {
	width: 100%;
	height: 100%;
	object-fit: cover;
	overflow: hidden;

	max-height: 50px;
	max-width: 50px;
	display: block;
	border-radius: 50%;
}

tr {
	padding-bottom: 10px;
}

.table td,
.table th {
	vertical-align: inherit;
}
